$card_height: 300px; // Using 20px extra to accomodate the added height.
$pin_picture_height: 120px;
$pin_comment_height: 80px;
$pin_profile_height: 80px;

$card_lg_default_width: 94%;
$card_default_width: 30%;
$card_1100_width: 45%;
$card_720_width: 96%;

$card_shadow_color: #d3d3d3;
$pin_background_color: #efefef;
$user_profile_background_color: #efe0e0;

$border_radius: 10px;

