@font-face {
    font-family: 'brown-light';
    src: url('assets/fonts/Brown/Brown-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brown-regular';
    src: url('assets/fonts/Brown/Brown-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

